<section class="py-section-padding px-16 max-w-container-max mx-auto">
  <div class="text-center mb-20">
    <h2 class="font-headline-lg text-headline-lg text-primary mb-4">Productos</h2>
    <div class="w-12 h-px bg-secondary mx-auto"></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-card-gap">
    <!-- Product 1 -->
    <div class="group cursor-pointer">
      <div class="overflow-hidden mb-6 aspect-[4/3]">
        <img class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110" data-alt="Close-up of a sophisticated pastry display featuring gold-leaf flecked chocolate tartlets and delicate cream puffs. The setting is a minimalist boutique with cream colored walls and thin gold accents. The photography is high-resolution, airy, and professional, capturing the intricate textures of the desserts." src="https://lh3.googleusercontent.com/aida-public/AB6AXuAbm_M7XSmHofDEb4KctIZzQQMFQgL0T4hV2Iz-PYmIxpARGg2LESV6NyYEm61kXCeijvD5xb_ldc9TsQE3TnzS5HA0Nft-JJIHFZJvgO0CSIlKlPKbzJud62Wx_gcnDyaAKewZx_EUb-LiHvrX_dBB1EPfJDcj-G-7F0y4kJnGe-C9ISDuafrngOT2RlCp-YnaVpTv5C0kmTGLEgheJIoI004MYYRc9F3s1ja11ifsk2Z-gp5iqk-e1B67YgXff-Kvvwry_J09G7ol">
      </div>
      <div class="text-center">
        <h3 class="font-headline-md text-headline-md text-primary mb-2">Pastelería</h3>
        <span class="font-label-caps text-label-caps text-secondary uppercase">Reposteria a Medida</span>
      </div>
    </div>
    <!-- Product 2 -->
    <div class="group cursor-pointer">
      <div class="overflow-hidden mb-6 aspect-[4/3]">
        <img class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110" data-alt="A curated gourmet catering spread with artisanal appetizers and miniature savory dishes perfectly plated on dark slate. Soft ambient lighting creates deep shadows and warm highlights, suggesting an exclusive evening event. The visual style is minimalist and luxurious, focusing on the high-end presentation of the food." src="https://lh3.googleusercontent.com/aida-public/AB6AXuDOlyaS5-TRDvcmyii-BnwxOHoo9PfMWAGUyyLUTrgN-4v0lzdLTroEm1S6Snyfx3c262ZanCINSTXGSwH11Zqb2RUm_4Vn_ymUzNxkmZXNLx_nQdTs4j2mVi71drXQnRwNNly77a4rNSoGPXaWVdeXCRHZeywqatJeT793zu0r9cbG7HxlVmkgfjIDZuYwaWLhEhzr-L2rsu8B8Jjf6Dyxtt2mgJK5axOkLA9D5NGAC2AV4HHZVOk5CaAepOZy7NmjiEcc-uQAkWmr">
      </div>
      <div class="text-center">
        <h3 class="font-headline-md text-headline-md text-primary mb-2">Catering</h3>
        <span class="font-label-caps text-label-caps text-secondary uppercase">Eventos Exclusivos</span>
      </div>
    </div>
  </div>
</section>
