<footer class="bg-primary dark:bg-tertiary-container py-section-padding">
  <div class="max-w-container-max mx-auto px-16 grid grid-cols-1 md:grid-cols-3 gap-gutter">
    <div class="space-y-8">
      <div class="font-headline-lg text-headline-lg text-secondary dark:text-secondary-fixed">Nativo Saphi</div>
      <p class="font-body-md text-surface-variant/70 max-w-xs">Elevando el arte de la gastronomía a través de la pasión, la técnica y el respeto por el producto.</p>
    </div>
    <div class="flex flex-col space-y-4">
      <h4 class="font-headline-md text-headline-md text-surface mb-4">Navegación</h4>
      <a class="font-label-caps text-label-caps text-surface-variant/70 hover:text-secondary-fixed transition-colors duration-300 uppercase tracking-widest" href="#product">Productos</a>
      <a class="font-label-caps text-label-caps text-surface-variant/70 hover:text-secondary-fixed transition-colors duration-300 uppercase tracking-widest" href="#service">Servicios</a>
      <a class="font-label-caps text-label-caps text-surface-variant/70 hover:text-secondary-fixed transition-colors duration-300 uppercase tracking-widest" href="#contact">Contactanos</a>
    </div>
    <div class="space-y-8">
      <h4 class="font-headline-md text-headline-md text-surface">Boletín Exclusivo</h4>
      <p class="font-body-md text-surface-variant/70">Suscríbase para recibir invitaciones a degustaciones privadas y novedades de temporada.</p>
      <div class="flex border-b border-secondary/30 pb-2">
        <input class="bg-transparent border-none focus:ring-0 text-surface font-label-caps text-label-caps w-full placeholder:text-surface-variant/30" placeholder="SU CORREO" type="email">
        <button class="text-secondary hover:text-secondary-fixed transition-colors">
          <span class="material-symbols-outlined">arrow_forward</span>
        </button>
      </div>
    </div>
  </div>
  <div class="max-w-container-max mx-auto px-16 mt-20 pt-8 border-t border-surface-variant/10 flex justify-between items-center">
    <p class="font-label-caps text-label-caps text-surface-variant/40">© 2024 L'Artisan Culinaire. All Rights Reserved.</p>
    <div class="flex gap-6">
      <a class="text-surface-variant/40 hover:text-secondary transition-colors" href="#"><span class="material-symbols-outlined">public</span></a>
      <a class="text-surface-variant/40 hover:text-secondary transition-colors" href="#"><span class="material-symbols-outlined">camera_enhance</span></a>
    </div>
  </div>
</footer>
